<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Supfile - Index</title>

    <!-- Bootstrap core CSS -->
    <link href="/SupFile_dev/web/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/SupFile_dev/web/index/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/SupFile_dev/web/index/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/SupFile_dev/web/index/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Supfile</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_registration_register') }}">Inscription</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_login') }}">Connexion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>LE CLOUD DE 30GO GRATUIT</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Bénificiez d'un stockage jusqu'à 500 Go. 
                Le Stockage Supfile vous permet de stocker vos fichiers sur un cloud. 
                Vous pouvez accéder à vos photos, vidéos, musiques et documents et les regarder où que vous soyez depuis tous vos appareils (votre ordinateur, votre smartphone ou votre tablette).</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ path('fos_user_registration_register') }}">S'inscrire gratuitement</a>
          </div>
        </div>
      </div>
    </header>
          
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">A votre service</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-globe text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Disponibilités</h3>
              <p class="text-muted mb-0">Accédez à vos dossiers de n'importe où dans le monde</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-mobile text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Compatibilité</h3>
              <p class="text-muted mb-0">Supfile est compatible avec tous les smartphones</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa fa-folder-open-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Stockage</h3>
              <p class="text-muted mb-0">Avec Supfile, vous avez la possibilité de stocker tout type de fichiers</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">From Supfile with Love</h3>
              <p class="text-muted mb-0">Supfile, c'est tout notre savoir-faire à votre disposition</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <p class="mb-4">© Copyright SUPFILE - Tous droits réservés</p>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/SupFile_dev/web/index/vendor/jquery/jquery.min.js"></script>
    <script src="/SupFile_dev/web/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/SupFile_dev/web/index/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/SupFile_dev/web/index/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/SupFile_dev/web/index/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/SupFile_dev/web/index/js/creative.min.js"></script>

  </body>

</html>
