<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>Supfile - Dossier {{directory.name}}</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />


        <!-- Bootstrap core CSS     -->
        <link href="/SupFile_dev/web/assets/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Animation library for notifications   -->
        <link href="/SupFile_dev/web./assets/css/animate.min.css" rel="stylesheet"/>

        <!--  Paper Dashboard core CSS    -->
        <link href="/SupFile_dev/web/assets/css/paper-dashboard.css" rel="stylesheet"/>

        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <link href="/SupFile_dev/web/assets/css/demo.css" rel="stylesheet" />

        <!--  Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
        <link href="/SupFile_dev/web/assets/css/themify-icons.css" rel="stylesheet">

    </head>
    <body>

        <div class="wrapper">
            {{ include("paper-dashboard/menu.html.twig") }}

            <div class="main-panel">
                {{ include("paper-dashboard/navbar.html.twig") }}


                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">{{directory.name}}</h4>
                                        <p class="category">Liste des fichiers dans {{directory.name}}</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-info"><a href="{{ path('app_file_directory', {'userId' :app.user.id, 'directoryId': directory.id}) }}">Ajouter un fichier au dossier</a></button>
                                    </div>
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-striped">
                                            <thead>
                                            <th>Nom</th>
                                            <th>Propriétaire</th>
                                            <th>Taille</th>
                                            <th>Actions</th>
                                            </thead>
                                            {% for file in files %}
                                            <tbody>
                                                <tr>
                                                    <td>{{ file.file }}</td>
                                                    <td>{{ file.user }}</td>
                                                    <td>{{ file.sizeAsString }}</td>
                                                    <td>
                                                        <a href="{{ path('app_file_get', {'userId' :app.user.id, 'fileName': file.file}) }}"><span class="ti-download"></span>
                                                        <a href="{{ path('app_file_rename', {'userId' :app.user.id, 'fileId': file.id}) }}"><span class="ti-pencil"></span>
                                                        <a href="{{ path('app_file_delete', {'userId' :app.user.id, 'fileId': file.id}) }}"><span class="ti-close"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ include("paper-dashboard/footer.html.twig") }}


            </div>
        </div>


    </body>

    <!--   Core JS Files   -->
    <script src="/SupFile_dev/web/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/SupFile_dev/web/assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="/SupFile_dev/web/assets/js/bootstrap-checkbox-radio.js"></script>

    <!--  Charts Plugin -->
    <script src="/SupFile_dev/web./assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/SupFile_dev/web/assets/js/bootstrap-notify.js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="/SupFile_dev/web/assets/js/paper-dashboard.js"></script>

    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="/SupFile_dev/web/assets/js/demo.js"></script>


</html>
{# empty Twig template #}
