{# empty Twig template #}
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>Paper Dashboard by Creative Tim</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />


        <!-- Bootstrap core CSS     -->
        <link href="/SupFile_dev/web/assets/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Animation library for notifications   -->
        <link href="/SupFile_dev/web/assets/css/animate.min.css" rel="stylesheet"/>

        <!--  Paper Dashboard core CSS    -->
        <link href="/SupFile_dev/web/assets/css/paper-dashboard.css" rel="stylesheet"/>


        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <link href="/SupFile_dev/web/assets/css/demo.css" rel="stylesheet" />


        <!--  Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
        <link href="/SupFile_dev/web/assets/css/themify-icons.css" rel="stylesheet">

    </head>
    <body>
        <div class="sidebar" data-background-color="white" data-active-color="danger">

            <!--
                        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
                        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <div class="simple-text">
                        Supfile
                    </div>
                </div>

                <ul class="nav">
                    <li>
                        <a href="{{ path('homepage') }}">
                            <i class="ti-panel"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('user_profile') }}">
                            <i class="ti-user"></i>
                            <p>Profil</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('file_listing') }}">
                            <i class="ti-files"></i>
                            <p>Fichiers</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_directory_listing') }}">
                            <i class="ti-folder"></i>
                            <p>Dossiers</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>

    <!--   Core JS Files   -->
    <script src="/SupFile_dev/web/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/SupFile_dev/web/assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="/SupFile_dev/web/assets/js/bootstrap-checkbox-radio.js"></script>

    <!--  Charts Plugin -->
    <script src="/SupFile_dev/web/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/SupFile_dev/web/assets/js/bootstrap-notify.js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="/SupFile_dev/web/assets/js/paper-dashboard.js"></script>

    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="/SupFile_dev/web/assets/js/demo.js"></script>
