{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Accueil{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        {% if app.user %}
            <div>
                <h2>Bienvenue sur votre espace cloud {{app.user.username}}</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <div class="button">
                            <button type="submit"><a href="{{ path('create_directory') }}">Créer un dossier</a></button>
                        </div>
                    </div>
                    <div class="col-sm-6 center-block">
                        <div class="button center-block">
                            <button type="submit"><a href="{{ path('app_file_new') }}">Upload un fichier</a></button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            
        {% endif %}
    </div>
    {% if app.user %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table-hover">
                        <tr>
                            <th>Nom</th>
                            <th>Propriétaire</th>
                            <th>Taille</th>
                            <th>Actions</th>
                        </tr>
                        {% for file in files %}
                            <tr>
                                <td>{{ file.name }}</td>
                                <td>{{ file.user }}</td>
                                <td>{{ file.sizeAsString }}</td>
                                <td><a href="{{ path('app_file_get', {'fileName': file.name, 'userId' :app.user.id}) }}"><span class="glyphicon glyphicon-cloud-download"></span></a></td>
                                {# <td><a href="{{ path('app_file_testget', {'fileName': file.name}) }}"><span class="glyphicon glyphicon-cloud-download">{{ file.name }}</span></a></td> #}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <section>
            Les dossiers :

            {% for directory in directories %}
                <li><span class="glyphicon glyphicon-folder-close">&nbsp;</span>{{ directory.name|e }}</li>
                {% endfor %}
        </section>
    {% endif %}

{% endblock %}