{% trans_default_domain 'FOSUserBundle' %}
<html lang="fr">
    <head>
        <title>Supfile - Inscription</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="/SupFile_dev/web/form/image/png" href="images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/css/util.css">
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/css/main.css">
        <!--===============================================================================================-->
        
        <link href="/SupFile_dev/web/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/SupFile_dev/web/index/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="/SupFile_dev/web/index/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/SupFile_dev/web/index/css/creative.min.css" rel="stylesheet">
        
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">Supfile</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_security_login') }}">Connexion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="bg-contact2" style="background-image: url('/SupFile_dev/web/index/img/header.jpg'); padding-top: 30px;">
            <div class="container-contact2">
                <div class="wrap-contact2">
                    
                    {% block fos_user_content %}
                        <form name="fos_user_registration_form" method="post" action="/SupFile_dev/web/app_dev.php/register/" class="fos_user_registration_register contact2-form validate-form">
                            <span class="contact2-form-title">
                                Créer un compte
                            </span>
                            <div id="fos_user_registration_form">
                                <div class="wrap-input2 validate-input" data-validate="Prénom requis">
                                    <input class="input2" type="text" id="fos_user_registration_form_firstName" name="fos_user_registration_form[firstName]" required="required" maxlength="255" pattern=".{2,}" />
                                    <span class="focus-input2" data-placeholder="Prénom"></span>
                                </div>
                                <div class="wrap-input2 validate-input" data-validate="Nom requis">
                                    <input class="input2" type="text" id="fos_user_registration_form_lastName" name="fos_user_registration_form[lastName]" required="required" maxlength="255" pattern=".{2,}" />
                                    <span class="focus-input2" data-placeholder="Nom"></span>
                                </div>
                                <div class="wrap-input2 validate-input" data-validate="Adresse e-mail requise">
                                    <input class="input2" type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" />
                                    <span class="focus-input2" data-placeholder="Adresse e-mail"></span>
                                </div>
                                <div class="wrap-input2 validate-input" data-validate="Nom d'utilisateur requis">
                                    <input class="input2" type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}" />
                                    <span class="focus-input2" data-placeholder="Nom d'utilisateur"></span>
                                </div>
                                <div class="wrap-input2 validate-input" data-validate="Mot de passe requis">
                                    <input class="input2" type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" autocomplete="new-password" />
                                    <span class="focus-input2" data-placeholder="Mot de passe"></span>
                                </div>
                                <div class="wrap-input2 validate-input" data-validate="Mot de passe requis">
                                    <input class="input2" type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" autocomplete="new-password" />
                                    <span class="focus-input2" data-placeholder="Répéter le mot de passe"></span>
                                </div>
                                
                                {{ form_errors(form.email) }}                                
                                {{ form_errors(form.username) }}
                                {{ form_errors(form.plainPassword.first) }}
                                {{ form_errors(form.plainPassword.second) }}
                                {{ form_errors(form.firstName) }}
                                {{ form_errors(form.lastName) }}
                                
                                {{ form_row(form._token) }}

                                <div class="container-contact2-form-btn">

                                    <div class="contact2-form-bgbtn"></div>
                                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Créer un compte"/>

                                </div>
                            </div>                           

                        </form>
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>


        <!--===============================================================================================-->
        <script src="/SupFile_dev/web/form/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="/SupFile_dev/web/form/vendor/bootstrap/js/popper.js"></script>
        <script src="/SupFile_dev/web/form/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="/SupFile_dev/web/form/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="/SupFile_dev/web/form/js/main.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        
        <!-- Bootstrap core JavaScript -->
        <script src="/SupFile_dev/web/index/vendor/jquery/jquery.min.js"></script>
        <script src="/SupFile_dev/web/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/SupFile_dev/web/index/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/SupFile_dev/web/index/vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="/SupFile_dev/web/index/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/SupFile_dev/web/index/js/creative.min.js"></script>

    </body>
</html>
