{% trans_default_domain 'FOSUserBundle' %}
<html lang="fr">
    <head>
        <title>Supfile - Connexion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="/SupFile_dev/web/form/image/png" href="images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/css/util.css">
        <link rel="stylesheet" type="text/css" href="/SupFile_dev/web/form/css/main.css">
        <!--===============================================================================================-->
            <!-- Bootstrap core CSS -->
        <link href="/SupFile_dev/web/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/SupFile_dev/web/index/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="/SupFile_dev/web/index/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/SupFile_dev/web/index/css/creative.min.css" rel="stylesheet">
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">Supfile</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('fos_user_registration_register') }}">Inscription</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="bg-contact2" style="background-image: url('/SupFile_dev/web/index/img/header.jpg');">
            <div class="container-contact2">
                <div class="wrap-contact2">
                    
                    {% block fos_user_content %}
                        
                        <form class="contact2-form validate-form" action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <span class="contact2-form-title">
                                Se connecter
                            </span>
                            <div class="wrap-input2 validate-input" data-validate="Nom d'utilisateur requis">
                                <input class="input2" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                                <span class="focus-input2" data-placeholder="{{ 'security.login.username'|trans }}"></span>
                            </div>
                            
                            <div class="wrap-input2 validate-input" data-validate="Mot de passe requis">
                                <input class="input2" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                                <span class="focus-input2" data-placeholder="{{ 'security.login.password'|trans }}"></span>
                            </div>
                            
                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label class="input_title" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                            <div class="container-contact2-form-btn">                                
                                    <div class="contact2-form-bgbtn"></div>
                                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>                                
                            </div>
                        </form>
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>




        <!--===============================================================================================-->
        <script src="/SupFile_dev/web/form/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="/SupFile_dev/web/form/vendor/bootstrap/js/popper.js"></script>
        <script src="/SupFile_dev/web/form/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="/SupFile_dev/web/form/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="/SupFile_dev/web/form/js/main.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        
        <script src="/SupFile_dev/web/index/vendor/jquery/jquery.min.js"></script>
        <script src="/SupFile_dev/web/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/SupFile_dev/web/index/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/SupFile_dev/web/index/vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="/SupFile_dev/web/index/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/SupFile_dev/web/index/js/creative.min.js"></script>

    </body>
</html>
