{% extends 'base.html.twig' %}
{% block body %}
    
    <div class="col-sm-4">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}